body {
    background-color: #f6f6f6;
    margin: 0px;
    font-size: 14px;
}

.box {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #d6d6d6;
    width: 500px;
    box-shadow: 3px 4px 4px rgba(0,0,0,0.3);

    .header {
        a {
            img {
                margin-bottom: -80px;
                margin-top: -40px;
                margin-left: 140px;
            }
        }
    }

    .inside {
        padding: 16px;
        .footer {
            text-align: center;
            a {
                display: inline-block;

            }
        }

    }

    .form-control {
        &:focus,
        &:active {
          outline: none;
          box-shadow: none;
        }
    }

    .btn-primary {
        background-color: #646464;
        border: none;
        transition: all 200ms;
        &:hover {
            background-color: #474545;
        }
    }

}

@media only screen and (max-width: 358px) {
    .header {
        a {
            img {
                position: relative;
                margin-bottom: -47px;
                margin-top: -40px;
                left: calc(46% - 225px);
            }
        }
    }
}

@media only screen and (max-width: 530px) {
    .box {
        width: 92%;
        background-color: transparent;
        border-radius: none;
        border: none;
        box-shadow: none;
        .header {
            a {
                img {
                    position: relative;
                    margin-bottom: -47px;
                    margin-top: -40px;
                    left: calc(46% - 225px);
                }
            }
        }

        .inside {
            padding: 0px;
        }
    }

}
